.app-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 2rem;
    background: #000;
    border-top: 1px solid var(--border);
;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 0.8rem;
    z-index: 1000;
}

.app-footer a{
    margin-left: 0.2rem;
}