.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    background-color: var(--bg);
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--border);
    width: 100vw;
    padding: 1rem 0 1rem 5rem;
    z-index: 1000;
}

.menu-icon{
    color: rgb(241, 242, 243); 
}

.menu-button{
    background: transparent;
    border: 1px solid transparent;
    padding: 0.4rem;
    border-radius: 8px;
    cursor: pointer;
}

.menu-button:focus-visible{
    border-color: var(--main-accent);
    outline: none;
}
