.home nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    background-color: #000000;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100vw;
    padding: 1rem 0 1rem 5rem;
}

.menu-icon{
    color: "rgb(241, 242, 243)"   
}
